*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    height: 410px;
    width: 290px;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px;
    text-align: center;
}
#card img{
    height: 55%;
    width: 90%;
    object-fit:cover ;
    object-position: center;
    border-radius: 10px;

}
#card h1{
    font-size: 25px;
    margin:10px 0 ;
}
#card h5 {
    font-size: 23px;
    color: red;
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#btn-container button:hover {
    background-color: #5F9EA0; /* Darker shade of cadetblue on hover */
}

#btn-container button:active {
    background-color: #4682B4; /* Slightly darker shade when clicked */
    box-shadow: 0 0 10px 2px rgba(70, 130, 180, 0.75); /* Glowing effect */
}
